body{
    background-color: rgba(255,165,0,0.9);
}
body{
    margin: 10px;
}
html, body{
 height: 80%;
}
div.container {
 position : relative;
 display: table;
 width: auto; 
 height: auto;
 background: #ccc;
 margin-left:auto;
 margin-right:auto;
}
table {
 border-collapse: separate;
 border-spacing: 10px;
}
table{
    font-size:19px;
}
th{
    font-size:20px;
}
ul{
    list-style-type:none;
}
caption{
    font-size:30px;
}
section.movie-info{
    margin:10px;/*to separate */
    padding:10px;/*to separate the text from the border by 10px*/
    border:20px solid beige;/**/
}
ul.contact-list{
    margin:30px;/**/
    padding:10px;/**/
    border:30px solid red;/**/
}
.standings-table{
    margin:30px;/**/
    padding:10px;/**/
    border:30px ridge purple;/**/
}
.top_four{
    border-left:6px solid green;
}
.europa{
    border-left:6px solid fuchsia;
}
.relegation{
    border-left:6px solid teal;
}
